#box {
       border: 2px solid black;
       width: 100px;
       height: 100px;
}

#textBox {
       margin-bottom: 8px;
}

.flipCar {
       transform: scale(-1, 1);
       -moz-transform: scale(-1, 1);
       -webkit-transform: scale(-1, 1);
       -o-transform: scale(-1, 1);
       -ms-transform: scale(-1, 1);
       transform: scale(-1, 1);
       display: inline-block;
     }

#timer {
       color: green;
       font-size: 50px;
}